body {
	background: #fff;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 16pt;
    font-weight: 400;
    line-height: 1.75em;
}

h1 {
	font-size: 20pt;
}

h2 {
	margin-top: 3em;
	font-size: 18pt;
}

div.canvas {
	max-width: 30em;
}

footer {
	margin-top: 5em;
}

