body {
	background: #f9f6f2;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	line-height: 1.75em;
	color: #333333;
}

h1 {
	font-size: 16pt;
	color: #191919;
}

h2 {
	margin-top: 2em;
	font-size: 14pt;
	color: #191919;
}

div.canvas {
	max-width: 500px;
}

footer {
	margin-top: 5em;
}

table, td, th {
	border: 1px solid #a99c8b;
	border-collapse: collapse;
	padding: 5px;
}

table {
	margin: 20px;
}

textarea {
	background-color: #ece3d8;
}

.graphs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0px;
}

.graph {
	padding-left: 20px;
}

.title {
	display: flex;
	gap: 15px;
	flex-direction: row;
	align-items: center;
}

img {
	vertical-align: middle;
}

.oldStyle {
	width: 100px;
}

a {
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	color: #507589;
	border-bottom: dashed 1px #7391a1;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
	color: #6188873 !important;
}

a:visited {
	color: #365161;
	border-bottom: dashed 1px #4b6f84;
}

.imageLink {
	border: none;
}

@media screen and (max-width: 1150px) {
	.graphs {
		grid-template-columns: 1fr;
	}

	table {
		max-width: 800px;
	}
}

@media screen and (max-width: 600px) {
	.graphs {
		grid-template-columns: 1fr;
	}

	div.canvas {
		max-width: 400px;
	}
	table {
		max-width: 400px;
	}
}

